In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
car_df = pd.read_csv(
    "https://raw.githubusercontent.com/catprokhorova/HW_datasets/main/EDA_1/german_used_cars.csv",
    index_col=0,
)
car_df.head()

,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916
3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,4900,110,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0,2.0 16V Twin Spark L
4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,17950,132,179,Manual,Petrol,"7,2 l/100 km",- (g/km),96127.0,"3.0i Super V6, absoluter Topzustand !"

In [3]:
# большинство типов данных - object, надо провести спецификацию и заодно почистить
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 251079 entries, 0 to 251078
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   brand                     251079 non-null  object
 1   model                     251079 non-null  object
 2   color                     250913 non-null  object
 3   registration_date         251075 non-null  object
 4   year                      251079 non-null  object
 5   price_in_euro             251079 non-null  object
 6   power_kw                  250945 non-null  object
 7   power_ps                  250950 non-null  object
 8   transmission_type         251079 non-null  object
 9   fuel_type                 251079 non-null  object
 10  fuel_consumption_l_100km  224206 non-null  object
 11  fuel_consumption_g_km     251079 non-null  object
 12  mileage_in_km             250927 non-null  float64
 13  offer_description         251078 non-null  object
dtypes: float64(1), object(13)
memory usage: 28.7+ MB

In [4]:
# убираем лишний текст, чтобы привести столбцы к вычисляемому типу
car_df["fuel_consumption_l_100km"] = car_df["fuel_consumption_l_100km"].apply(
    lambda x: str(x).split(" ")[0].replace(",", ".")
)
car_df["fuel_consumption_g_km"] = car_df["fuel_consumption_g_km"].apply(
    lambda x: str(x).split(" ")[0].replace(",", ".")
)

In [5]:
# чистим от нечисловых значений и неправильных дат
convert_to_num = [
    "price_in_euro",
    "power_kw",
    "power_ps",
    "fuel_consumption_l_100km",
    "fuel_consumption_g_km",
]
convert_to_dt = ["registration_date", "year"]

car_df[convert_to_num] = car_df[convert_to_num].apply(pd.to_numeric, errors="coerce")
car_df[convert_to_dt] = car_df[convert_to_dt].apply(pd.to_datetime, errors="coerce")

# реперь датасет выглядит гораздо лучше и можно начать что-то делать с данными
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 251079 entries, 0 to 251078
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   brand                     251079 non-null  object
 1   model                     251079 non-null  object
 2   color                     250913 non-null  object
 3   registration_date         250882 non-null  datetime64[ns]
 4   year                      250880 non-null  datetime64[ns]
 5   price_in_euro             250880 non-null  float64
 6   power_kw                  250786 non-null  float64
 7   power_ps                  250869 non-null  float64
 8   transmission_type         251079 non-null  object
 9   fuel_type                 251079 non-null  object
 10  fuel_consumption_l_100km  223046 non-null  float64
 11  fuel_consumption_g_km     214274 non-null  float64
 12  mileage_in_km             250927 non-null  float64
 13  offer_description         251078 non-null  object
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 28.7+ MB

/var/folders/mk/srk2d63n62qc5h8z461_xl000000gn/T/ipykernel_4465/2026177986.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  car_df[convert_to_dt] = car_df[convert_to_dt].apply(pd.to_datetime, errors='coerce')

In [9]:
car_df.isna().mean() * 100

brand                        0.000000
model                        0.000000
color                        0.066115
registration_date            0.078461
year                         0.079258
price_in_euro                0.079258
power_kw                     0.116696
power_ps                     0.083639
transmission_type            0.000000
fuel_type                    0.000000
fuel_consumption_l_100km    11.165012
fuel_consumption_g_km       14.658733
mileage_in_km                0.060539
offer_description            0.000398
dtype: float64